---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Cover from "../slides/cover.astro";
import CssVariables from '../slides/css-variables.astro';
import Font from '../slides/font.astro';
import Implementations from '../slides/implementations.astro';
import Outro from '../slides/outro.astro';
import ReadingWriting from '../slides/reading-writing.astro';
import Thanks from "../slides/thanks.astro";
import dvm from "../img/dfm25.svg";
import qrLink from "../img/qrcode_slide_dfp25.png";
import qrLinkRating from "../img/qrcode_rating_dfp25.png";
import ImplementationsBis from '../slides/implementations-bis.astro';
import meMib from "../img/me-mib-alien.webp";
import UserPreferences from '../slides/user-preferences.astro';
import CoverDevfestPescara2025 from '../slides/cover-devfest-pescara-2025.astro';
import IntroMib from '../slides/intro-mib.astro';
import OtherWriting from '../slides/other-writing.astro';
import UniversalDesign from '../slides/universal-design.astro';
import alienPost from "../img/alien-post.gif";
import funnyAlien from "../img/funny_alien.webp";
import weSupportYou from "../img/we-support-you.webp";
import cantRead from '../img/cant-read.webp';
import SponsorDevfestPescara2025 from '../slides/sponsor-devfest-pescara-2025.astro';

const canRender = import.meta.env.DEV || new Date("2025-11-09") < new Date();
const favIcon = dvm.src
const metaData = {
  title: 'Designing for Cultural Inclusion',
  description: 'CSS and Accessibility as Key Tools'
}
const titleSlide = "Agent M"
---

<Layout canRender={canRender} favIcon={favIcon} metaData={metaData}>
  <CoverDevfestPescara2025 />
  {canRender && (
    <SponsorDevfestPescara2025 />
    <Cover meReloaded={meMib} title={titleSlide} />
    <IntroMib />
    <CssVariables />
    <ReadingWriting />
    <Implementations />
    <ImplementationsBis />
    <OtherWriting externalImage={alienPost} />
    <Font>
      <div slot="system-fonts">
        <h4 style="margin-block-end: 1em" class="cover-all">
          By default, browsers seamlessly switch to system fonts
        </h4>
        <p-fragment
          ><Image
        style="--image-start-size: 7em"
        src={funnyAlien}
        alt="funny alien"
        class="alter-image-size"
      /></p-fragment>
      </div>
        <Image slot="noRead" src={cantRead} alt="cant read" class="alter-image-size" />

    </Font>
    <UniversalDesign imagePluralDesign={weSupportYou} />
    <UserPreferences />
    <Outro />
    <Thanks meReloaded={meMib} title={titleSlide} qrLink={qrLink} qrLinkRating={qrLinkRating} newQR urlLink="https://css-accessibility-cultural-inclusion.marcotalk.dev/devfest-pescara-2025/" />
  )}
</Layout>
<style lang="scss" is:global>
  .my-face {
    border-radius: 100%;
    border: 0.5rem #fff solid;
  }
</style>